table {
    width:100%;
  }
  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;

  }
  th, td {
    padding: 10px;
    text-align: center;
    font-style: normal;
    color: black;
   
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: lightblue;
  }
  table#t01 th {
    background-color: rgb(94, 94, 94);
    color: white;
  }
ion-img{
    width: 30px;
    padding: 5px;
    height: 30px;
}

