<ion-header>
  <ion-toolbar>
    <ion-title>ทะเบียนครุภัณฑ์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 
      <ion-searchbar class ="search" cancel-button-text fill="outline"> ค้นหารายการ </ion-searchbar>
  
  <ion-card>
      <ion-card-header>
        <ion-card-title>รายการวัสดุ-ครุภัณฑ์</ion-card-title>
      </ion-card-header>
      <ion-card-content>
           <table style="width:100%" id="t01">
        <tr>
          <th>ลำดับ</th>
          <th>ประเภท</th> 
          <th>หมวดหมู่</th> 
          <th>รายการ</th>
          <th>โมเดล</th> 
          <th>ยี่ห้อ</th> 
          <th>คงเหลือจำนวน</th> 
          <th>หน่วย</th> 
          <th>ที่จัดเก็บ</th> 
          <th>ผู้รับผิดชอบ</th> 
          <th>หมายเหตุ</th> 
          <th></th> 
        </tr>
        <tr *ngFor="let item of items; index as i"  >
          <td>{{i+1}}</td>
          <td>{{item.type}} </td> 
          <td>{{item.group}}</td>
          <td>{{item.name}}</td>
          <td>{{item.model}}</td> 
          <td>{{item.brand}}</td>
          <td>{{item.balance}}</td>
          <td>{{item.unit}}</td>
          <td>{{item.keep_place}}</td>
          <td>{{item.attendant}}</td> 
          <td>{{item.note}}</td>
          <td>
              <ion-img  src="assets/img/folder.png"    (click)="infoItem(item)" ></ion-img>
              <ion-img  src="assets/img/edit.png"    (click)="editItem(item)"></ion-img>
          </td>
        </tr>

      </table>
      </ion-card-content>
       <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="addItem()">
          <ion-fab-button>
            <ion-icon name="add" ></ion-icon>
          </ion-fab-button>
        </ion-fab>     
 
  </ion-card>



</ion-content>
