<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไขรายการวัสดุ-ครุภัณฑ์</ion-title>
  </ion-toolbar>
</ion-header>
<!-- clear-input  -->
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        รายการวัสดุ-ครุภัณฑ์ที่แก้ไข
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed" >ประเภท</ion-label>
        <ion-input placeholder="{{item.type}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >หมวดหมู่</ion-label>
        <ion-input placeholder="{{item.group}} " readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >รายการ</ion-label>
        <ion-input placeholder="{{item.name}} " readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >โมเดล</ion-label>
        <ion-input placeholder="{{item.model}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >ยี่ห้อ</ion-label>
        <ion-input placeholder="{{item.brand}} " readonly></ion-input>
      </ion-item>
      <!-- <ion-item>
        <ion-label position="fixed" >ราคาต่อหน่วย</ion-label>
        <ion-input placeholder="{{item.type}} " readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >หน่วย</ion-label>
        <ion-input placeholder="{{item.type}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >จำนวน</ion-label>
        <ion-input placeholder="{{item.type}} " readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >สถานที่จัดซื้อ</ion-label>
        <ion-input placeholder="{{item.type}} " readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >จัดซื้อโครงการ</ion-label>
        <ion-input placeholder="{{item.type}}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed" >วันที่จัดซื้อ</ion-label>
        <ion-input placeholder="{{item.type}} " readonly></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>สถานที่จัดเก็บของรายการ</ion-label>
        <ion-select  [(ngModel)]="item.keep_place" >
          <ion-select-option value="ห้องพักอาจารย์">ห้องพักอาจารย์</ion-select-option>
          <ion-select-option value="WSN Lab">WSN Lab</ion-select-option>
          <ion-select-option value="Sparkbit Lab">Sparkbit Lab</ion-select-option>
          <ion-select-option value="Co-Working Space">Co-Working Space</ion-select-option>
          <ion-select-option value="ตึก S ชั้น8">ตึก S ชั้น8</ion-select-option>
          <ion-select-option value="Data Center">Data Center</ion-select-option>
          <ion-select-option value="Sparkbit WorkPlace">Sparkbit WorkPlace</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>ผู้รับผิดชอบ</ion-label>
        <ion-select [(ngModel)]="item.attendant" >
          <ion-select-option value="กิตติยา">กิตติยา</ion-select-option>
          <ion-select-option value="วรโชติ">วรโชติ</ion-select-option>
          <ion-select-option value="อมรรัตน์">อมรรัตน์</ion-select-option>
          <ion-select-option value="ศุพิวัสฒ์">ศุพิวัสฒ์</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="fixed" >หมายเหตุ</ion-label>
          <ion-input  [(ngModel)]="item.note" ></ion-input>
        </ion-item>

        <ion-button shape="round" (click)="editItem()" >แก้ไข</ion-button>
        <ion-button shape="round" (click)="cancel()" >ยกเลิก</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
